body{
  background: #9e429a;
  color: rgb(33, 32, 32);
}
.App {
  margin-top: 150px;
  padding: 80px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #fcfcfb;
  color:  rgb(12, 1, 1);
  font-size: 30px;
}


.b1{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background:rgb(8, 71, 8) ;
  border: 0px;
  color: #ffffff;
  font-size: 28px;
}

.b2{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background:rgb(95, 181, 95) ;
  border: 0px;
  color: #ffffff;
  font-size: 28px;
}

.b3{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background:rgb(98, 9, 241) ;
  border: 0px;
  color: #ffffff;
  font-size: 28px;
}

.b4{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background:rgb(237, 6, 6) ;
  border: 0px;
  color: #ffffff;
  font-size: 28px;
}

.b5{
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 30px;
  background:rgb(128, 0, 0) ;
  border: 0px;
  color: #ffffff;
  font-size: 28px;
}

.counter{
  border: 80px;
  
}